/*цвет основного текста #212121*/
/*вторичный цвет текста #757575*/
/*белый цвет #FFFFFF*/
/*акцент #2196F3*/
/*цвет фона героя #2F303A*/
/*вторичный цвет фона #F5F4FA*/
/*фон футера #2F303A*/

:root {
  --primary-text-color: #212121;
  --title-text-color: #212121;
  --text-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --footer-color: #2f303a;
}
body {
  background-color: #ffffff;
  color: var(--primary-text-color);
}

/*лого*/
.logo {
  color: #000000;
}

/*список*/
.list {
  list-style: none;
}

/*навигация сайта*/
.site-nav a {
  color: var(--primary-text-color);
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}
/*подсветка активной страницы*/
.site-nav .link.current {
  color: var(--accent-color);
}

/*обратная связь*/
.contacts-nav a {
  color: var(--text-color);
}
.contacts-nav a:hover,
.contacts-nav a:focus {
  color: var(--accent-color);
}

/*секции*/
.section {
  color: var(--primary-text-color);
}

.section-title {
  color: var(--title-text-color);
}

/*герой*/
.hero {
  background-color: #2f303a;
  color: var(--white-color);
}
.hero-title {
  color: var(--white-color);
}

.footer {
  background-color: var(--footer-color);
  color: var(--white-color);
}

/*button*/
.button {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.features-list .title {
  color: var(--title-text-color);
}

.work-list .title {
  color: var(--title-text-color);
}

.comand-list .title {
  color: var(--title-text-color);
}
